{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'persons/css/sidebar_add.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
</head>
</html>

<div id="sidebar-edit" class="sidebar-container">
    <div class="sidebar-overlay"></div>

    <div class="sidebar-content">
        <div class="sidebar-header">
            <h4 id="sidebar-title-edit" class="sidebar-title"></h4>
            <div id="options-holder" class="d-flex gap-3">
                <a id="sidebar-btn-edit" onclick="makeFormEditable()" href="#">Editar usuário</a>
                <!-- <a id="sidebar-btn-history" href="#">Visualizar histórico</a> -->
            </div>
        </div>

        <div id="loading-overlay-edit" class="loading-overlay" style="display: none">
            <img src="{% static 'img/loading_icon.gif' %}" alt="Carregando..." width="50">        
        </div>

        <div id="mensagem-pessoa"></div>
        
        <div class="sidebar-body">
            <form id="form-pessoa-edit" class="form-pessoa" method="post">
                {% csrf_token %}
                <div style="display: none;">
                    <label for="id_edit" class="form-label">Id</label>
                    <input type="text" class="form-control" disabled id="id_edit" name="id">
                </div>
                <div class="mb-2">
                    <label for="name_edit" class="form-label">Nome Completo</label>
                    <input type="text" onkeydown="removeRequiredStyle(this)" class="form-control" disabled id="name_edit" placeholder="Nome" name="name_edit">
                </div>
                <div class="mb-2">
                    <label for="birth_date_edit" class="form-label">Data de Nascimento</label>
                    <input type="text" onkeydown="removeRequiredStyle(this)" class="form-control" disabled id="birth_date_edit" placeholder="dd/mm/aaaa" name="birth_date_edit">
                </div>
                <div class="mb-2">
                    <label for="cpf_edit" class="form-label">CPF</label>
                    <input type="text" onkeydown="removeRequiredStyle(this)" onkeyup="formatarCPF()" class="form-control" disabled id="cpf_edit" placeholder="CPF" name="cpf_edit">
                </div>
                <div class="mb-2">
                    <label for="email_edit" class="form-label">E-mail</label>
                    <input type="email" onkeydown="removeRequiredStyle(this)" class="form-control" disabled id="email_edit" placeholder="E-mail" name="email_edit">
                </div>
                <div class="mb-2 d-flex gap-2">
                    <div class="flex-fill" style="max-width:120px;">
                        <label for="ddd_edit" class="form-label">DDD</label>
                        <input type="text" onkeydown="removeRequiredStyle(this)" maxlength="2" class="form-control" disabled id="ddd_edit" placeholder="DDD" name="ddd_edit">
                    </div>
                    <div class="flex-fill">
                        <label for="phone_edit" class="form-label">Telefone</label>
                        <input type="text" onkeydown="removeRequiredStyle(this)" onkeyup="formatarTelefone(this)" maxlength="11" class="form-control" disabled id="phone_edit" placeholder="Telefone" name="phone_edit">
                    </div>
                </div>

                <div class="mb-2 d-flex gap-2">
                    <div class="flex-fill">
                        <label for="cep_edit" class="form-label">CEP</label>
                        <input type="cep" onkeydown="removeRequiredStyle(this)" maxlength="8" class="form-control" disabled id="cep_edit" placeholder="CEP" name="cep_edit">
                        <label id="cep-message" class="float-start" style="font-size: 10px; color: #ff0000; display: none;"></label>
                    </div>
                    <div class="flex-fill">
                        <label for="state_edit" class="form-label">Estado</label>
                        <input type="text" onkeydown="removeRequiredStyle(this)" class="form-control" disabled id="state_edit" placeholder="Estado" name="state_edit">
                    </div>
                </div>

                <div class="mb-2">
                    <label for="city_edit" class="form-label">Cidade</label>
                    <input type="text" onkeydown="removeRequiredStyle(this)" class="form-control" disabled id="city_edit" placeholder="Cidade" name="city_edit">
                </div>
                <div class="mb-2">
                    <label for="district_edit" class="form-label">Bairro</label>
                    <input type="district" onkeydown="removeRequiredStyle(this)" class="form-control" disabled id="district_edit" placeholder="Bairro" name="district_edit">
                </div>
                <div class="mb-2 d-flex gap-2">
                    <div class="flex-fill">
                        <label for="street_edit" class="form-label">Rua</label>
                        <input type="text" onkeydown="removeRequiredStyle(this)" class="form-control" disabled id="street_edit" placeholder="Rua" name="street_edit">
                    </div>
                    <div class="flex-fill" style="max-width:120px;">
                        <label for="st_number_edit" class="form-label">Número</label>
                        <input type="text" onkeydown="removeRequiredStyle(this)" class="form-control" disabled id="st_number_edit" placeholder="Nº" name="st_number_edit">
                    </div>
                </div>

                <div class="mb-2">
                    <label for="documents" class="form-label">Anexos</label>
                    <input type="file" class="form-control" id="documents" name="documents[]" multiple accept="image/*,.pdf,.doc,.docx">

                    <!-- Lista de arquivos já carregados do banco -->
                    <div id="uploaded-files" class="mt-2">

                    </div>

                    <!-- Pré-visualização dos novos uploads -->
                    <div id="preview-files" class="mt-2"></div>
                </div>

                <div class="form-buttons d-flex justify-content-end mt-4">
                    <button id="btn-cancelar-edit" type="button" class="btn btn-outline-success me-2" onclick="closeEditSidebar()">Cancelar</button>
                    <button id="btn-cancelar-edit-cancel" type="button" class="btn btn-outline-success me-2" onclick="makeFormNonEditable()">Voltar</button>
                    <button id="btn-cancelar-edit-save" type="submit" class="btn btn-success">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/toastr.min.js' %}"></script>
<script>

    toastr.options.closeButton = true;
    toastr.options.timeOut = 3000;
    toastr.options.progressBar = true;
    toastr.options.extendedTimeOut = 0;
    toastr.options.preventDuplicates = true;

    let savedValues = {};

    document.getElementById('form-pessoa-edit').addEventListener('submit', function(e) {
        e.preventDefault();
        const form = e.target;
        handleFormOnSave();

        if (validateFormEdit(form) > 0) {
            handleFormOnResponse(0);
            return;
        }

        const formData = new FormData(form);
        let userId = $("#id_edit").val();

        const url = `/persons/update/${userId}/`;
        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            body: formData
        }).then(response => {
            handleFormOnResponse(1);

            const contentType = response.headers.get('content-type');
            if (contentType && contentType.includes('application/json')) {
                return response.json();
            } else {
                window.location.href = '/persons';
                return;
            }
        }).then(data => {
            if (!data) return;

            const mensagemDiv = document.getElementById('mensagem-pessoa');
            mensagemDiv.innerHTML = '';

            if (data.success) {
                form.reset();
                toastr.success(data.success);
                atualizarTabelaPessoas();
                closeEditSidebar();
            } else if (data.error) {
                let listaErros = '';

                for (let campo in data.error) {
                    listaErros += ' - ' + data.error[campo] + '<br>'
                    const campoEl = document.getElementById(campo + "-");
                    if (campoEl) {
                        campoEl.style.borderColor = '#eb0000';
                    }
                }
                toastr.warning(listaErros);
            }
        }).catch(error => {
            });
        });
    
    function removeRequiredStyle(input) {
        input.style = 'border-color: #ced4da';
    }

    function resetFormEdit(form) {
        form.find("input[type=text], input[type=password], input[type=email], textarea").val("");
        form.find("select").prop("selectedIndex", 0);
        $("#username_edit").css("border-color", "#ced4da");
        $("#cpf_edit").css("border-color", "#ced4da");
        $("#email_edit").css("border-color", "#ced4da");
        $("#senha_edit").css("border-color", "#ced4da");
        $("#funcao_edit").css("border-color", "#ced4da");
    }    

    function validateFormEdit(form) {

        let invalid = 0;
        const username = form.username.value.trim();
        const cpf = form.cpf.value.trim();
        const email = form.email.value.trim();
        const senha = form.password.value.trim();
        const status = form.status.value;
        const funcao = form.funcao.value;

        if (!username) {
            form.username.style = 'border-color: #eb0000';
            invalid += 1;
        }
        if (!cpf) {
            form.cpf.style = 'border-color: #eb0000';
            invalid += 1;
        }
        if (!email) {
            form.email.style = 'border-color: #eb0000';
            invalid += 1;
        }
        if (!senha) {
            form.senha.style = 'border-color: #eb0000';
            invalid += 1;
        }
        if (!status) {
            form.status.style = 'border-color: #eb0000';
            invalid += 1;
        }
        if (!funcao) {
            form.funcao.style = 'border-color: #eb0000';
            invalid += 1;
        }
        return invalid;
    }

    function openEditSidebar() {
        document.getElementById('sidebar-edit').classList.add('active');
    }

    function closeEditSidebar() {
        let form = $('#form-pessoa-edit');
        resetFormEdit(form);

        document.getElementById('sidebar-edit').classList.remove('active');
    }

    function editFormatarCPF() {
        const cpfInput = document.getElementById("cpf_edit");
        let cpf = cpfInput.value.replace(/\D/g, ''); // Remove não-números

        if (cpf.length > 11) cpf = cpf.slice(0, 11); // Limita a 11 dígitos

        let cpfFormatado = '';

        if (cpf.length > 9) {
            cpfFormatado = cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{0,2})/, "$1.$2.$3-$4");
        } else if (cpf.length > 6) {
            cpfFormatado = cpf.replace(/(\d{3})(\d{3})(\d{0,3})/, "$1.$2.$3");
        } else if (cpf.length > 3) {
            cpfFormatado = cpf.replace(/(\d{3})(\d{0,3})/, "$1.$2");
        } else {
            cpfFormatado = cpf;
        }

        cpfInput.value = cpfFormatado;
    }

    function handleFormOnSave() {
        $("#loading-overlay-edit").show();
        $("#btn-cancelar-edit").prop("disabled", true);
        $("#btn-salvar-edit").prop("disabled", true);
    }

    function handleFormOnResponse(serverSideValidation) {
        if (serverSideValidation == 1) {
            setTimeout(function() {
                $("#loading-overlay-edit").hide();
                $("#btn-cancelar-edit").prop("disabled", false);
                $("#btn-salvar-edit").prop("disabled", false);        
            }, 500);

            return;
        }
        $("#loading-overlay-edit").hide();
        $("#btn-cancelar-edit").prop("disabled", false);
        $("#btn-salvar-edit").prop("disabled", false);    
    }

    function makeFormEditable() {
        savedValues.name = $("#name_edit").val();
        savedValues.birth_date = $("#birth_date_edit").val();
        savedValues.cpf = $("#cpf_edit").val();
        savedValues.email = $("#email_edit").val();
        savedValues.ddd = $("#ddd_edit").val();
        savedValues.phone = $("#phone_edit").val();
        savedValues.cep = $("#cep_edit").val();
        savedValues.state = $("#state_edit").val();
        savedValues.city = $("#city_edit").val();
        savedValues.district = $("#district_edit").val();
        savedValues.street = $("#street_edit").val();
        savedValues.st_number = $("#st_number_edit").val();
        
        $("#password-strenght").show();
        $("#btn-cancelar-edit-save").show();
        $("#btn-cancelar-edit-cancel").show();
        $("#btn-cancelar-edit").hide();
        
        let form = $('#form-pessoa-edit')
        form.find("input[type=text], input[type=password], input[type=email], textarea").prop("disabled", false);
        form.find("select").prop("disabled", false);
        $("#name_edit").prop("disabled", false);
        $("#birth_date_edit").prop("disabled", false);
        $("#cpf_edit").prop("disabled", false);
        $("#email_edit").prop("disabled", false);
        $("#ddd_edit").prop("disabled", false);
        $("#phone_edit").prop("disabled", false);
        $("#cep_edit").prop("disabled", false);
        $("#state_edit").prop("disabled", false);
        $("#city_edit").prop("disabled", false);
        $("#district_edit").prop("disabled", false);
        $("#street_edit").prop("disabled", false);
        $("#st_number_edit").prop("disabled", false);

        $("#options-holder").css("visibility", "hidden");
    }

    function makeFormNonEditable() {
        $("#password-strenght").hide();
        $("#btn-cancelar-edit-save").hide();
        $("#btn-cancelar-edit-cancel").hide();
        $("#btn-cancelar-edit").show();

        let form = $('#form-pessoa-edit')
        form.find("input[type=text], input[type=password], input[type=email], textarea").prop("disabled", true);
        form.find("select").prop("disabled", true);
        $("#name_edit").prop("disabled", true);
        $("#birth_date_edit").prop("disabled", true);
        $("#cpf_edit").prop("disabled", true);
        $("#email_edit").prop("disabled", true);
        $("#ddd_edit").prop("disabled", true);
        $("#phone_edit").prop("disabled", true);
        $("#cep_edit").prop("disabled", true);
        $("#state_edit").prop("disabled", true);
        $("#city_edit").prop("disabled", true);
        $("#district_edit").prop("disabled", true);
        $("#street_edit").prop("disabled", true);
        $("#st_number_edit").prop("disabled", true);

        $("#name_edit").val(savedValues.name)
        $("#birth_date_edit").val(savedValues.birth_date)
        $("#cpf_edit").val(savedValues.cpf)
        $("#email_edit").val(savedValues.email)
        $("#ddd_edit").val(savedValues.ddd)
        $("#phone_edit").val(savedValues.phone)
        $("#cep_edit").val(savedValues.cep)
        $("#state_edit").val(savedValues.state)
        $("#city_edit").val(savedValues.city)
        $("#district_edit").val(savedValues.district)
        $("#street_edit").val(savedValues.street)
        $("#st_number_edit").val(savedValues.st_number)

        $("#options-holder").css("visibility", "visible");
    }

</script>
</body>
</html>