{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'users/css/sidebar_add.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
</head>
</html>

<div id="sidebar-edit" class="sidebar-container">
    <div class="sidebar-overlay"></div>

    <div class="sidebar-content">
        <div class="sidebar-header">
            <h4 id="sidebar-title-edit" class="sidebar-title"></h4>
            <div id="options-holder" class="d-flex gap-3">
                <a id="sidebar-btn-edit" onclick="makeFormEditable()" href="#">Editar Espera</a>
                <!-- <a id="sidebar-btn-history" href="#">Visualizar histórico</a> -->
            </div>
        </div>

        <div id="loading-overlay-edit" class="loading-overlay" style="display: none">
            <img src="{% static 'img/loading_icon.gif' %}" alt="Carregando..." width="50">        
        </div>

        <div id="mensagem-usuario"></div>
        
        <div class="sidebar-body">
            <form id="form-waitlist-edit" class="form-usuario" method="post">
                {% csrf_token %}
                <div style="display: none;">
                    <label for="id_edit" class="form-label">Id</label>
                    <input type="text" class="form-control" disabled id="id_edit" name="id">
                </div>
                <div class="mb-2">
                    <label for="person_edit" class="form-label">Nome</label>
                    <select onchange="removeRequiredStyle(this)" class="form-select" id="person_edit" disabled name="person_edit">
                    </select>
                </div>
                <div class="mb-2">
                    <label for="equipment_edit" class="form-label">Item desejado</label>
                    <select onchange="removeRequiredStyle(this)" class="form-select" id="equipment_edit" disabled name="equipment_edit">
                    </select>
                </div>
                <div class="mb-2" id="dt_contact_div_edit">
                    <label for="dt_contact_edit" class="form-label">Data que entrou em contato</label>
                    <input type="text" onkeyup="removeRequiredStyle(this)" class="form-control" id="dt_contact_edit" placeholder="dd/mm/aaaa" disabled name="dt_contact_edit" maxlength="10">
                </div>

                <div class="form-buttons d-flex justify-content-end">
                    <button id="btn-cancelar-edit" type="button" class="btn btn-outline-success me-2" onclick="closeEditSidebar()">Cancelar</button>
                    <button id="btn-cancelar-edit-cancel" type="button" class="btn btn-outline-success me-2" onclick="makeFormNonEditable()">Voltar</button>
                    <button id="btn-cancelar-edit-save" type="submit" class="btn btn-success">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/toastr.min.js' %}"></script>
<script>

    toastr.options.closeButton = true;
    toastr.options.timeOut = 3000;
    toastr.options.progressBar = true;
    toastr.options.extendedTimeOut = 0;
    toastr.options.preventDuplicates = true;

    let savedValues = {};

    document.getElementById('dt_contact_edit').addEventListener('input', function (e) {
        let value = e.target.value.replace(/\D/g, '');
        if (value.length > 8) value = value.slice(0, 8);

        let formatted = '';
        if (value.length > 4) {
            formatted = value.replace(/(\d{2})(\d{2})(\d{0,4})/, '$1/$2/$3');
        } else if (value.length > 2) {
            formatted = value.replace(/(\d{2})(\d{0,2})/, '$1/$2');
        } else {
            formatted = value;
        }
        e.target.value = formatted;
    });

    document.getElementById('form-waitlist-edit').addEventListener('submit', function(e) {
        e.preventDefault();
        const form = e.target;
        handleFormOnSave();

        if (validateFormEdit(form) > 0) {
            handleFormOnResponse(0);
            return;
        }

        const formData = new FormData(form);
        let userId = $("#id_edit").val();

        const url = `/waitlist/update/${userId}/`;
        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            body: formData
        }).then(response => {
            handleFormOnResponse(1);

            const contentType = response.headers.get('content-type');
            if (contentType && contentType.includes('application/json')) {
                return response.json();
            }
        }).then(data => {
            if (!data) return;

            const mensagemDiv = document.getElementById('mensagem-usuario');
            mensagemDiv.innerHTML = '';

            if (data.success) {
                form.reset();
                toastr.success(data.success);
                atualizarTabelaWaitlist();
                makeFormNonEditable();
                closeEditSidebar();
            } else if (data.error) {
                let listaErros = '';

                for (let campo in data.error) {
                    listaErros += ' - ' + data.error[campo] + '<br>'
                    const campoEl = document.getElementById(campo + "-");
                    if (campoEl) {
                        campoEl.style.borderColor = '#eb0000';
                    }
                }
                toastr.warning(listaErros);
            }
        }).catch(error => {
        });
    });
    
    function removeRequiredStyle(input) {
        input.style = 'border-color: #ced4da';
    }

    function resetFormEdit(form) {
        form.find("input[type=text], textarea").val("");
        form.find("select").prop("selectedIndex", 0);
        $("#person_edit").css("border-color", "#ced4da");
        $("#equipment_edit").css("border-color", "#ced4da");
        $("#dt_contact_edit").css("border-color", "#ced4da");
    }    

    function openEditSidebar() {
        document.getElementById('sidebar-edit').classList.add('active');
    }

    function closeEditSidebar() {
        let form = $('#form-waitlist-edit');
        resetFormEdit(form);

        document.getElementById('sidebar-edit').classList.remove('active');
    }

    function handleFormOnSave() {
        $("#loading-overlay-edit").show();
        $("#btn-cancelar-edit").prop("disabled", true);
        $("#btn-salvar-edit").prop("disabled", true);
    }

    function handleFormOnResponse(serverSideValidation) {
        if (serverSideValidation == 1) {
            setTimeout(function() {
                $("#loading-overlay-edit").hide();
                $("#btn-cancelar-edit").prop("disabled", false);
                $("#btn-salvar-edit").prop("disabled", false);        
            }, 500);

            return;
        }
        $("#loading-overlay-edit").hide();
        $("#btn-cancelar-edit").prop("disabled", false);
        $("#btn-salvar-edit").prop("disabled", false);    
    }

    function makeFormEditable() {
        let loaned = $("#status-message");
        savedValues.person = $("#person_edit").val();
        savedValues.equipment = $("#equipment_edit").val();
        savedValues.dt_contact = $("#dt_contact_edit").val();
        
        $("#btn-cancelar-edit-save").show();
        $("#btn-cancelar-edit-cancel").show();
        $("#btn-cancelar-edit").hide();
        
        let form = $('#form-waitlist-edit')
        $("#person_edit").prop("disabled", false);
        $("#equipment_edit").prop("disabled", false);
        $("#dt_contact_edit").prop("disabled", false);
        $("#options-holder").css("visibility", "hidden");
    }

    function makeFormNonEditable() {
        $("#btn-cancelar-edit-save").hide();
        $("#btn-cancelar-edit-cancel").hide();
        $("#btn-cancelar-edit").show();

        let form = $('#form-waitlist-edit')
        form.find("input[type=text], input[type=password], input[type=email], textarea").prop("disabled", true);
        form.find("select").prop("disabled", true);
        $("#person_edit").prop("disabled", true);
        $("#equipment_edit").prop("disabled", true);
        $("#dt_contact_edit").prop("disabled", true);

        $("#person_edit").val(savedValues.person);
        $("#equipment_edit").val(savedValues.equipment);
        $("#dt_contact_edit").val(savedValues.dt_contact);

        $("#options-holder").css("visibility", "visible");
    }

    function validateFormEdit(form) {

        let invalid = 0;
        const person_edit = form.person_edit.value.trim();
        const equipment_edit = form.equipment_edit.value.trim();
        const dt_contact_edit = form.dt_contact_edit.value.trim();

        if (!person_edit) {
            form.person_edit.style = 'border-color: #eb0000';
            invalid += 1;
        }
        if (!equipment_edit) {
            form.person_edit.style = 'border-color: #eb0000';
            invalid += 1;
        }
        if (!dt_contact_edit) {
            form.dt_contact_edit.style = 'border-color: #eb0000';
            invalid += 1;
        }
        return invalid;
    }

    makeFormNonEditable();

</script>