{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'equipments/css/sidebar_add.css' %}">
</head>
</html>

<div id="sidebar-loan" class="sidebar-container">

    <div class="sidebar-overlay"></div>

    <div class="sidebar-content">
        <div class="sidebar-header d-flex justify-content-between align-items-center">
            <h2 id="sidebar-title" class="sidebar-title">Fazer empréstimo</h2>
            <button class="btn-close" onclick="closeAddSidebar()"></button>
        </div>

        <div id="loading-overlay-add" class="loading-overlay" style="display: none">
            <img src="{% static 'img/loading_icon.gif' %}" alt="Carregando..." width="50">        
        </div>

        <div id="mensagem-usuario"></div>
        
        <div class="sidebar-body">
            
            <form id="form-emprestimo" class="form-emprestimo" method="post">
                {% csrf_token %}
                <div style="display: none;">
                    <label for="id_loan" class="form-label">Id</label>
                    <input type="text" class="form-control" disabled id="id_loan" name="id">
                </div>
                <div class="mb-2">
                    <label for="name_loan" class="form-label">Nome</label>
                    <input type="text" onkeydown="removeRequiredStyle(this)" disabled class="form-control" id="name_loan" placeholder="Nome" name="name_loan">
                </div>
                <div class="mb-2">
                    <label for="requester_loan" class="form-label">Solicitante</label>
                    <select class="form-select" id="requester_loan" name="loan_requester">
                        <option value="">Selecione um solicitante</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="cpf_loan" class="form-label">CPF</label>
                    <input type="text" disabled class="form-control" id="cpf_loan" placeholder="CPF" name="cpf_loan">
                </div>
                <div class="mb-2" id="dt_loaned_div">
                    <label for="dt_loaned_loan" class="form-label">Data do Empréstimo</label>
                    <input type="text" class="form-control" id="dt_loaned_loan" placeholder="dd/mm/aaaa" name="dt_loaned_loan" maxlength="10">
                </div>
                <div class="mb-2" id="dt_return_div">
                    <label for="dt_return_loan" class="form-label">Data de retorno do Empréstimo</label>
                    <input type="text" class="form-control" id="dt_return_loan" placeholder="dd/mm/aaaa" name="dt_return_loan" maxlength="10">
                </div>
                
                <div class="form-buttons d-flex justify-content-end mt-4">
                    <button id="btn-cancelar-loan" type="button" class="btn btn-outline-success me-2" onclick="closeLoanSidebar()">Cancelar</button>
                    <button id="btn-salvar-loan" type="submit" class="btn btn-success">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    toastr.options.closeButton = true;
    toastr.options.timeOut = 10000;
    toastr.options.extendedTimeOut = 0;
    toastr.options.preventDuplicates = true;

    document.getElementById('dt_return_loan').addEventListener('input', function (e) {
        let value = e.target.value.replace(/\D/g, '');
        if (value.length > 8) value = value.slice(0, 8);

        let formatted = '';
        if (value.length > 4) {
            formatted = value.replace(/(\d{2})(\d{2})(\d{0,4})/, '$1/$2/$3');
        } else if (value.length > 2) {
            formatted = value.replace(/(\d{2})(\d{0,2})/, '$1/$2');
        } else {
            formatted = value;
        }
        e.target.value = formatted;
    });

    document.getElementById('dt_loaned_loan').addEventListener('input', function (e) {
        let value = e.target.value.replace(/\D/g, '');
        if (value.length > 8) value = value.slice(0, 8);

        let formatted = '';
        if (value.length > 4) {
            formatted = value.replace(/(\d{2})(\d{2})(\d{0,4})/, '$1/$2/$3');
        } else if (value.length > 2) {
            formatted = value.replace(/(\d{2})(\d{0,2})/, '$1/$2');
        } else {
            formatted = value;
        }
        e.target.value = formatted;
    });

    const form = document.getElementById('form-emprestimo');
    const btnSaveLoan = document.getElementById('btn-salvar-loan');

    form.addEventListener('submit', function (e) {
        e.preventDefault();

        if (btnSaveLoan.textContent === 'Remover empréstimo') {
            removerEmprestimo();
            return;
        }

        fazerEmprestimo();
    });

    function fazerEmprestimo() {
        handleFormOnSave();
        const formData = new FormData(form);
        const equipmentId = document.getElementById("id_loan").value;
        const requesterId = document.getElementById("requester_loan").value;
        const loanDate = document.getElementById("dt_loaned_loan").value;
        
        formData.append("equipment_id", equipmentId);
        formData.append("requester_id", requesterId);
        formData.append("loan_date", loanDate);

        fetch(`/equipments/loan/save/${equipmentId}/`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            handleFormOnResponse(1);
            const contentType = response.headers.get('content-type');
            if (contentType && contentType.includes('application/json')) {
                return response.json();
            }
        })
        .then(data => {
            if (!data) return;

            if (data.status === "success") {
                form.reset();
                toastr.success(data.message);
                atualizarTabelaEquipamentos();
                closeLoanSidebar();
            } else if (data.status === "warning") {
                let listaErros = '';
                for (let campo in data.error) {
                    console.log(campo)
                    listaErros += ' - ' + data.error[campo] + '<br>';
                    const campoEl = document.getElementById(campo);
                    console.log(campoEl);
                    if (campoEl) campoEl.style.borderColor = '#eb0000';
                }
                toastr.warning(listaErros);
            }
        })
        .catch(error => console.error('Erro ao salvar empréstimo:', error));
    }

    function removerEmprestimo() {
        const formData = new FormData(form);

        const equipmentId = document.getElementById("id_loan").value;
        const returnDate = document.getElementById("dt_return_loan").value;

        formData.append("returnDate", returnDate);
        fetch(`/equipments/loan/delete/${equipmentId}/`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == 'success') {
                toastr.success(data.message);
                form.reset();
                closeLoanSidebar();
                atualizarTabelaEquipamentos();
            } else if (data.status === "warning") {
                let listaErros = '';
                for (let campo in data.error) {
                    console.log(campo)
                    listaErros += ' - ' + data.error[campo] + '<br>';
                    const campoEl = document.getElementById(campo);
                    console.log(campoEl);
                    if (campoEl) campoEl.style.borderColor = '#eb0000';
                }
                toastr.warning(listaErros);
            }
        })
        .catch(error => console.error('Erro ao remover empréstimo:', error));
    }

    function removeRequiredStyle(input) {
        input.style = 'border-color: #ced4da';
    }

    function resetForm(form) {
        form.find("input[type=text], input[type=password], input[type=email], textarea").val("");
        form.find("select").prop("selectedIndex", 0);
        $("#name_loan, #requester_loan, #cpf_loan, #dt_loaned_loan, #dt_return_loan").css("border-color", "#ced4da");
    }

    function openLoanSidebar() {
        document.getElementById('sidebar-loan').classList.add('active');
    }

    function closeLoanSidebar() {
        let form = $('#form-emprestimo');
        resetForm(form);
        document.getElementById('sidebar-loan').classList.remove('active');
    }
</script>
