{% load static %}

<link rel="stylesheet" href="{% static 'equipments/css/index.css' %}">

<table id="tabela-equipamentos"
    class="table table-hover table-bordered table-striped align-middle table-sm"
    data-toggle="table"
    data-pagination="true"
    data-search="true"
    data-show-loading="true"
    data-page-list="[10]"
    data-locale="pt-BR"
    data-id-field="id"
    data-unique-id="id">
    <thead class="table-light">
        <tr>
            <th data-field="name" class="td-truncate" data-width="40" data-sortable="true">Nome</th>
            <th data-field="type" class="td-truncate" data-width="40" data-sortable="true">Tipo</th>
            <th data-field="location" class="td-truncate" data-width="50" data-sortable="true">Localização</th>
            <th data-field="requester" class="td-truncate" data-width="50" data-sortable="true">Solicitante</th>
            <th data-field="status" class="td-truncate" data-width="30" data-sortable="true">Status</th>
            <th data-field="create_date" class="td-truncate" data-width="30" data-sortable="true">Dt. Criação</th>
            <th data-field="acoes" style="text-align: center" class="td-truncate" data-width="27">Ações</th>
        </tr>
    </thead>

    <tbody id="usuarios-body">
        {% for equipment in equipments %}
        <tr data-id="{{ equipment.id }}">
            <td class="equipment-row" title="{{ equipment.name }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ equipment.name }}</td>
             <td>
                {% if equipment.type == 0 %}
                    <div title="Cadeira de Rodas" data-bs-toggle="tooltip">Cadeira de Rodas</div>
                {% elif equipment.type == 1 %}
                    <div title="Muletas" data-bs-toggle="tooltip">Muletas</div>
                {% else %}
                    <div title="Cama Hospitalar" data-bs-toggle="tooltip">Cama Hospitalar</div>
                {% endif %}
            </td>
            <td class="equipment-row" title="{{ equipment.location }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ equipment.location }}</td>
            <td class="equipment-row" title="{{ equipment.requester }}" data-bs-toggle="tooltip" data-bs-placement="top">{{ equipment.requester }}</td>
            <td>
                {% if equipment.status == 0 %}
                    <div class="equipment-inactive">Inativo</div>
                {% elif equipment.status == 1 %}
                    <div class="equipment-active">Disponível</div>
                {% elif equipment.status == 2 %}
                    <div class="equipment-loaned">Emprestado</div>
                {% elif equipment.status == 3 %}
                    <div class="equipment-repair">Em conserto</div>
                {% elif equipment.status == 4 %}
                    <div class="equipment-lost">Extraviado</div>
                {% elif equipment.status == 5 %}
                    <div class="equipment-broken">Avariado</div>
                {% endif %}
            </td>
            <td title="{{ equipment.create_date|date:'d/m/Y H:i' }}" data-bs-toggle="tooltip">{{ equipment.create_date|date:"d/m/Y H:i" }}</td>
            <td style="text-align: center">
                <a href="#" class="text-secondary me-2"><i class="fas fa-file-invoice"></i></a>
                <a href="#" class="text-primary me-2"><i class="fa fa-eye"></i></a>
                <a href="#" class="text-danger btn-excluir" data-id="{{ equipment.id }}"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>

    $(document).ready(function() {
        $('#tabela-equipamentos').bootstrapTable({
            formatShowingRows: function (pageFrom, pageTo, totalRows) {
                return 'Mostrando <b>' + pageFrom + '-' + pageTo + '</b> de <b>' + totalRows + '</b> equipamentos.';
            }
        });
    });

</script>